<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@next"></script>
  <link rel="stylesheet" href="style.css">
  <title>lesson 4</title>
</head>

<body>
  <div id="app">
    <div>
      <span v-for="tab in tabs" :key="tab.en" @click="currentTab = tab" class="tab-menu"
        :class="{active: currentTab.name === tab.name}">
        {{tab.name}}
      </span>
    </div>
    <!-- tab-deserts = TabDeserts использование локального компонента-->

    <!-- <tab-drinks v-if="currentTab.name === tabs[0].name"></tab-drinks>
    <tab-deserts v-else-if="currentTab.name === tabs[1].name"></tab-deserts>
    <tab-salads v-else-if="currentTab.name === tabs[2].name"></tab-salads> -->

    <!-- динамические компоненты, берем из вычисляемых свойства computed -->
    <component :title="currentTab.name" :is="tabName">
    </component>
  </div>
  <script src="script.js"></script>
</body>

</html>